extends layout

block content
    h2 About the project

    br
    p This project is for our semester for the class of Software Technologies
        | in the Technological Educational Institute of Central Macedonia.

    br
    br


    .container
        .row
            .col.col-lg-3.col-md-3.col-sm-6.col-xs-12
                h3
        .row
            .col.col-lg-3.col-md-3.col-sm-6.col-xs-12
                ul.list-group.float-left
                    li.list-group-item.active Authors
                    li.list-group-item Stefanos Karakasis
                    li.list-group-item Nikos Karanikolas
                    li.list-group-item Nikos Pavlidis
                    li.list-group-item Kostas Sigas
                    li.list-group-item Anastasios Cholopoulos