body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar.navbar-default {
  background: #faa62c;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}